doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.9/htmx.min.js' integrity='sha512-FSS62yxqCRMCtm1J+ddRwX8DuCRVt/WMpihCo06P+Je5AG4CV9yoLX53zHaOB5w/eZdG7d/QAyUEJTnHZHrWKg==' crossorigin='anonymous' referrerpolicy='no-referrer')
        script(src='https://cdn.tailwindcss.com')
        title todo
    body.flex.h-screen
        main.flex.flex-col.justify-self-center.items-center.justify-center.mx-auto.mt-4.w-96
            h1.text-xl Ermia's Fantastiska ToDo
            .content.flex.flex-col.gap-4.border-2.rounded-lg.border-black.mb-auto.p-4(class="w-[420px]")
                .actions.flex.justify-center.gap-1
                    form.flex.gap-4(hx-post="/add" hx-target=".todo-list" hx-swap="beforeend" hx-on::before-request="document.querySelector('#content').value = ''")
                        input#content.border-2.rounded-lg.border-gray(type="text", name="content")
                        button.bg-green-500.p-1.rounded-md(type="submit" class="hover:bg-green-600") Add ToDo
                    button.bg-red-500.p-1.rounded-md(class="hover:bg-red-600" hx-delete="/all" hx-target=".todo-list") Purge All
                .todo-list.flex.flex-col.gap-1.overflow-y-auto(class="max-h-[75vh]")
                    include components/item.pug
                    each todo in item_list
                        +item(todo)
